.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}


.rejectTitle{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  color: #3f51b5;
}

.idleThumb{
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  color: #3f51b5;
}
.idleThumb p{
  font-size: 30px;
}